<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" type="text/css" href="/internal/insets.css" />
    <title>Oh My Keymint</title>
    <script type="module" crossorigin src="./assets/index-BUoHA3Hz.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/style-CIx1Xoi_.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
